# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django stuff:
*.log
.static_storage/
.media/
static
local_settings.py

# Environments
env
.envrc

# mypy
.mypy_cache/

# Tags
tags

# Ignore secrets file
secrets
