-i https://pypi.org/simple
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
certifi==2024.6.2
cffi==1.16.0
django==5.0.6
gunicorn==22.0.0
markdown==3.6
pycparser==2.22
pygments==2.18.0
sentry-sdk==2.3.1
setuptools==70.0.0
sqlparse==0.5.0
urllib3==2.2.1
whitenoise==6.6.0
