-i https://pypi.org/simple
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
django==4.2.3
gunicorn==21.2.0
markdown==3.4.3
pycparser==2.21
pygments==2.15.1
sentry-sdk==1.28.1
setuptools==68.0.0
sqlparse==0.4.4
urllib3==2.0.4
whitenoise==6.2.0
