{% extends "posts/base.html" %}

{% block body %}
    <div class="card">
      <div class="card-content" style="padding: 1em;">
        {% if posts %}
          <div class="notification is-success">
              <i class="fas fa-search" aria-hidden></i> &nbsp; Found 
              {{ posts.count }} result{{ posts.count|pluralize }}
          </div>
        {% else %}
        <div class="notification is-warning">
            <i class="fas fa-exclamation-triangle" aria-hidden></i> &nbsp; No posts found matching "{{ request.GET.q }}"
        </div>
        {% endif %}
        {% include "posts/post_result_table.html" %}
      </div>
    </div>
{% endblock body %}
