<div class="blog-post pb-5">
  <div class="d-flex justify-content-between align-items-baseline pb-1">
    <h2 class="blog-post-title">
      <a class="text-dark" href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>
    {% if request.user.is_superuser %}
      <a class="text-dark" href="{% url 'admin:posts_post_change' post.id %}"><i class="fa fa-edit fa-lg" aria-hidden></i></a>
    {% endif %}
  </div>
  <span class="pr-2 d-inline-block"><i class="fa fa-user fa-fw" aria-hidden></i> {{ post.author }}</span>
  <span class="pr-2 d-inline-block"><i class="fa fa-calendar-alt fa-fw" aria-hidden></i> {{ post.pub_date|date:"SHORT_DATE_FORMAT" }}</span>
  {% if post.tags.exists %}
    <div class="pt-2">
      <i class="fas fa-tag fa-fw" aria-hidden></i>
      {% for tag in post.tags.all %}
        <a href="{{ tag.get_absolute_url }}" class="badge badge-dark" style="background-color: {{ tag.color_code }}">{{ tag.name }}</a>
      {% endfor %}
    </div>
  {% endif %}
  {% if post.is_draft %}
    <div class="alert alert-warning mt-3 d-flex justify-content-between" role="alert">
      <span>
      <i class="fas fa-exclamation-triangle"></i>
      This is post a <b>Draft</b>
      </span>
      {% if post.author == request.user %}
        <a href="{% url 'posts:post_publish' post.pk %}" class="alert-link">Publish</a>
      {% endif %}
    </div>
  {% endif %}
  <hr>
  {{ post.markdown|safe }}
</div>
